* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.body {
  width: 100%;
  font-family: "Andada Pro", serif;
  background: linear-gradient(90deg, #040c24 0%, #13638f 100%);
}

.navegacion {
  width: 100%;
  text-align: center;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(90deg, #1c92d2 0%, #f2fcfe 100%);
}

.logo {
  width: 50px;
  height: 50px;
}

.navListdiv {
  display: flex;
  justify-content: flex-end;
}

.navLink {
  text-decoration: none;
  color: #040c24;
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 2rem;
  font-weight: 400;
  border-radius: 0.5rem;
  position: relative;
}
.navLink:hover {
  color: #040c24;
  text-decoration: underline;
  background: rgba(4, 12, 36, 0.3);
  transition: 0.25s ease-in-out;
  transform: scale(1.1);
}

.footer {
  width: 100%;
  background: linear-gradient(90deg, #1c92d2 0%, #f2fcfe 100%);
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-evenly;
}
.footer .footerTitle {
  color: #040c24;
  margin-top: 1rem;
  padding: 0.5rem;
  font-size: 2rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer .footerTitle {
    font-size: 2.5rem;
    margin-top: 1.5rem;
    padding: 1rem;
  }
}
.footer .footerLink {
  width: auto;
  align-self: center;
  text-decoration: none;
  color: #040c24;
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .footer .footerLink {
    font-size: 2rem;
  }
  .footer .footerLink:hover {
    color: #091b52;
    text-decoration: underline;
  }
}
.footer .facebook {
  display: flex;
  justify-content: flex-end;
  width: 40%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer .facebook {
    padding: 1rem;
    margin-bottom: 1.5rem;
  }
}
.footer .instagram {
  display: flex;
  justify-content: flex-start;
  width: 40%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer .instagram {
    padding: 1rem;
    margin-bottom: 1.5rem;
  }
}
.footer .footerLogo {
  height: 35px;
  width: 35px;
  margin: 5px;
}

.mainIndex {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .mainIndex {
    display: flex;
    flex-flow: row wrap;
  }
}
.mainIndex .h1Div {
  width: 100%;
  justify-self: flex-start;
  align-self: flex-start;
}
.mainIndex .h1Div h1 {
  color: #addbf4;
  font-size: 4rem;
  font-weight: 600;
  margin: 20px;
  padding: 5px;
}
@media screen and (min-width: 768px) {
  .mainIndex .h1Div h1 {
    font-size: 5rem;
    margin-left: 5rem;
  }
}
.mainIndex .section {
  width: 100%;
  text-align: left;
}
@media screen and (min-width: 1024px) {
  .mainIndex .section {
    width: 45%;
    padding: 1rem;
    margin: 1rem;
  }
}
.mainIndex .section h2 {
  padding: 1rem;
  margin: 1rem;
  color: #fdcf78;
  font-size: 2rem;
}
@media screen and (min-width: 768px) {
  .mainIndex .section h2 {
    font-size: 2.5rem;
  }
}
.mainIndex .section p {
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  text-indent: 1.5rem;
  padding: 0.5rem;
}
@media screen and (min-width: 768px) {
  .mainIndex .section p {
    font-size: 2rem;
  }
}
.mainIndex .section2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 1024px) {
  .mainIndex .section2 {
    width: 45%;
    padding: 1rem;
    margin: 1rem;
  }
}
.mainIndex .section2 .imgIndex {
  margin: 5px;
  height: 70%;
  width: 70%;
  border-radius: 2rem;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
}
@media screen and (min-width: 768px) {
  .mainIndex .section2 .imgIndex {
    width: 50%;
    height: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .mainIndex .section2 .imgIndex {
    width: 70%;
    height: 90%;
  }
}
.mainIndex .section2 .divAlfajor {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .mainIndex .section2 .divAlfajor {
    width: 85%;
    height: 45%;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1024px) {
  .mainIndex .section2 .divAlfajor {
    width: 70%;
    height: 45%;
  }
}
.mainIndex .section2 .divHuerta {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .mainIndex .section2 .divHuerta {
    width: 85%;
    height: 45%;
    justify-content: flex-end;
  }
}
@media screen and (min-width: 1024px) {
  .mainIndex .section2 .divHuerta {
    width: 70%;
    height: 45%;
  }
}

.nosMain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-content: center;
}
.nosMain div {
  width: 100%;
  justify-self: flex-start;
  align-self: flex-start;
}
.nosMain div h1 {
  color: #addbf4;
  font-size: 4rem;
  font-weight: 600;
  margin: 20px;
  padding: 5px;
}
@media screen and (min-width: 768px) {
  .nosMain div h1 {
    font-size: 5rem;
    margin-left: 5rem;
  }
}
.nosMain section {
  margin: 10px 15px;
  padding: 1rem;
  width: 80%;
}
.nosMain section h2 {
  padding: 1rem;
  margin: 1rem;
  color: #fdcf78;
  font-size: 2rem;
}
@media screen and (min-width: 768px) {
  .nosMain section h2 {
    font-size: 2.5rem;
  }
}
.nosMain section p {
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  text-indent: 1.5rem;
  padding: 0.5rem;
}
@media screen and (min-width: 768px) {
  .nosMain section p {
    font-size: 2rem;
  }
}

.mainProyectos {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(76, 2.5rem);
}
@media screen and (min-width: 768px) {
  .mainProyectos {
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(67, 2.5rem);
  }
}
@media screen and (min-width: 1024px) {
  .mainProyectos {
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(46, 2.5rem);
  }
}
.mainProyectos .proyectosH1div {
  grid-column: 1/11;
  grid-row: 1/6;
}
@media screen and (min-width: 768px) {
  .mainProyectos .proyectosH1div {
    grid-column: 1/21;
    grid-row: 1/6;
  }
}
@media screen and (min-width: 1024px) {
  .mainProyectos .proyectosH1div {
    grid-column: 1/21;
    grid-row: 1/5;
  }
}
.mainProyectos .proyectosH1div h1 {
  color: #addbf4;
  font-size: 4rem;
  font-weight: 600;
  margin: 20px;
  padding: 5px;
}
@media screen and (min-width: 768px) {
  .mainProyectos .proyectosH1div h1 {
    font-size: 5rem;
    margin-left: 5rem;
  }
}
.mainProyectos .proyectosSection {
  grid-column: 1/10;
  grid-row: 6/23;
  margin: 1rem;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .mainProyectos .proyectosSection {
    grid-column: 1/21;
    grid-row: 6/19;
    margin: 2rem;
    padding: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .mainProyectos .proyectosSection {
    grid-column: 1/21;
    grid-row: 5/15;
  }
}
.mainProyectos .proyectosSection h2 {
  padding: 1rem;
  margin: 1rem;
  color: #fdcf78;
  font-size: 2rem;
}
@media screen and (min-width: 768px) {
  .mainProyectos .proyectosSection h2 {
    font-size: 2.5rem;
  }
}
.mainProyectos p {
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  text-indent: 1.5rem;
  padding: 0.5rem;
}
@media screen and (min-width: 768px) {
  .mainProyectos p {
    font-size: 2rem;
  }
}
.mainProyectos .proyectosH3 {
  margin: auto;
  padding: 1rem;
  font-size: 1.5rem;
  color: #fee1aa;
}
@media screen and (min-width: 768px) {
  .mainProyectos .proyectosH3 {
    font-size: 2rem;
  }
}
.mainProyectos .dupla1 {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  grid-column: 1/10;
  grid-row: 23/40;
  margin: 15px;
  padding: 5px;
  background: linear-gradient(90deg, #0e2b80 0%, #1c92d2 100%);
  border-radius: 7px;
}
@media screen and (min-width: 768px) {
  .mainProyectos .dupla1 {
    grid-column: 1/21;
    grid-row: 19/35;
  }
}
@media screen and (min-width: 1024px) {
  .mainProyectos .dupla1 {
    grid-column: 2/20;
    grid-row: 16/25;
    display: flex;
    flex-wrap: nowrap;
  }
}
.mainProyectos .dupla2 {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  grid-column: 1/10;
  grid-row: 40/57;
  margin: 15px;
  padding: 5px;
  background: linear-gradient(90deg, #0e2b80 0%, #1c92d2 100%);
  border-radius: 7px;
}
@media screen and (min-width: 768px) {
  .mainProyectos .dupla2 {
    grid-column: 1/21;
    grid-row: 35/50;
  }
}
@media screen and (min-width: 1024px) {
  .mainProyectos .dupla2 {
    grid-column: 2/9;
    grid-row: 26/46;
  }
}
.mainProyectos .dupla3 {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  grid-column: 1/10;
  grid-row: 57/76;
  margin: 15px;
  padding: 5px;
  background: linear-gradient(90deg, #0e2b80 0%, #1c92d2 100%);
  border-radius: 7px;
}
@media screen and (min-width: 768px) {
  .mainProyectos .dupla3 {
    grid-column: 1/21;
    grid-row: 50/67;
  }
}
@media screen and (min-width: 1024px) {
  .mainProyectos .dupla3 {
    grid-column: 10/20;
    grid-row: 26/46;
  }
}
.mainProyectos img {
  height: 150px;
  width: 150px;
  border-radius: 1.5rem;
  margin: 10px;
  padding: 10px;
}
.mainProyectos .proyectosLink {
  text-decoration: none;
  color: #000a22;
  font-size: 1.5rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .mainProyectos .proyectosLink {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .mainProyectos .proyectosLink:hover {
    color: #addbf4;
    text-decoration: underline;
  }
}

.prodMain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.prodMain .prodH1div {
  width: 100%;
  justify-self: flex-start;
  align-self: flex-start;
}
.prodMain .prodH1div h1 {
  color: #addbf4;
  font-size: 4rem;
  font-weight: 600;
  margin: 20px;
  padding: 5px;
}
@media screen and (min-width: 768px) {
  .prodMain .prodH1div h1 {
    font-size: 5rem;
    margin-left: 5rem;
  }
}
.prodMain .cards {
  background: #96d1f1;
  width: 300px;
  border-radius: 1rem;
  box-shadow: 0 7px 8px 0 rgba(255, 255, 255, 0.4);
  margin: 2rem;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
@media screen and (min-width: 768px) {
  .prodMain .cards {
    width: 400px;
  }
}
.prodMain .cards h3 {
  padding: 2px;
  margin: 2px;
  color: #040c24;
  font-size: 1.5rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .prodMain .cards h3 {
    font-size: 2rem;
    padding: 5px;
    margin: 5px;
  }
}
.prodMain .cards p {
  color: #040c24;
  font-size: 1.5rem;
  font-weight: 400;
  text-indent: 0.75rem;
  padding: 0.5rem;
}
@media screen and (min-width: 768px) {
  .prodMain .cards p {
    padding: 1rem;
    text-indent: 1rem;
  }
}
.prodMain .cards img {
  height: 250px;
  width: 250px;
  border-radius: 1.5rem;
  margin: 5px;
  padding: 5px;
  justify-self: center;
}
@media screen and (min-width: 768px) {
  .prodMain .cards img {
    height: 300px;
    width: 300px;
    border-radius: 1.5rem;
    margin: 10px;
    padding: 10px;
    justify-self: center;
    margin: 10px;
    padding: 10px;
  }
}

.contactoMain {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 1024px) {
  .contactoMain .contactoH1div {
    width: 100%;
    justify-self: flex-start;
    align-self: flex-start;
    margin-left: 7rem;
  }
}
.contactoMain .contactoH1div h1 {
  color: #addbf4;
  font-size: 4rem;
  font-weight: 600;
  margin: 20px;
  padding: 5px;
}
@media screen and (min-width: 768px) {
  .contactoMain .contactoH1div h1 {
    font-size: 5rem;
    margin-left: 5rem;
  }
}
.contactoMain .contactoForm {
  border: solid 2px white;
  margin: 30px;
  padding: 20px;
  width: 90%;
  background: linear-gradient(90deg, #0e2b80 0%, #1c92d2 100%);
  font-size: 1rem;
  color: #fee1aa;
}
@media screen and (min-width: 768px) {
  .contactoMain .contactoForm {
    font-size: 1.5rem;
    width: 70%;
  }
}
@media screen and (min-width: 1024px) {
  .contactoMain .contactoForm {
    font-size: 2rem;
    width: 45%;
    margin: 15px;
  }
}
.contactoMain .contactoForm div {
  padding: 0.5rem;
}
@media screen and (min-width: 768px) {
  .contactoMain .contactoForm div {
    padding: 1rem;
  }
}
.contactoMain .iframeDiv {
  width: 90%;
  margin: 30px;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .contactoMain .iframeDiv {
    width: 70%;
  }
}
@media screen and (min-width: 1024px) {
  .contactoMain .iframeDiv {
    width: 45%;
    margin: 15px;
  }
}
.contactoMain .iframeDiv iframe {
  height: 300px;
}
@media screen and (min-width: 768px) {
  .contactoMain .iframeDiv iframe {
    height: 400px;
  }
}

/*# sourceMappingURL=style.css.map */
