* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.body {
  width: 100%;
  font-family: "Andada Pro", serif;
  background: linear-gradient(90deg, #040c24 0%, #13638f 100%);
}

.navegacion {
  text-align: center;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(90deg, #1c92d2 0%, #f2fcfe 100%);
}

.logo {
  width: 50px;
  height: 50px;
}

.navListdiv {
  display: flex;
  justify-content: flex-end;
}

.navLink {
  text-decoration: none;
  color: #040c24;
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 2rem;
  font-weight: 400;
  border-radius: 0.5rem;
  position: relative;
}
.navLink:hover {
  color: #040c24;
  text-decoration: underline;
  background: rgba(4, 12, 36, 0.3);
  transition: 0.25s ease-in-out;
  transform: scale(1.1);
}

.footer {
  width: 100%;
  text-align: center;
  background: linear-gradient(90deg, #1c92d2 0%, #f2fcfe 100%);
  display: flex;
  flex-wrap: wrap;
}
.footer .footerTitle {
  color: #040c24;
  margin: 5px;
  padding: 5px;
  font-size: 1.5rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer .footerTitle {
    font-size: 2.5rem;
  }
}
.footer .footerLink {
  text-align: left;
  width: auto;
  align-self: center;
  text-decoration: none;
  color: #040c24;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .footer .footerLink {
    font-size: 2rem;
  }
  .footer .footerLink:hover {
    color: #091b52;
    text-decoration: underline;
  }
}
.footer .facebook {
  display: flex;
  justify-content: flex-end;
}
.footer .instagram {
  display: flex;
  justify-items: flex-start;
}
.footer .footerLogo {
  height: 35px;
  width: 35px;
  margin: 5px;
}

.mainIndex {
  display: flex;
  flex-flow: row wrap;
}
.mainIndex .h1Div {
  width: 100%;
  justify-self: flex-start;
  align-self: flex-start;
}
.mainIndex .h1Div h1 {
  color: #addbf4;
  font-size: 3rem;
  font-weight: 600;
  margin: 20px;
  margin-left: 5rem;
  padding: 5px;
}
@media screen and (min-width: 768px) {
  .mainIndex .h1Div h1 {
    font-size: 5rem;
  }
}
.mainIndex .section {
  padding: 1rem;
  margin: 1rem;
  text-align: left;
}
.mainIndex .section h2 {
  padding: 5px;
  margin: 5px;
  color: #fdcf78;
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .mainIndex .section h2 {
    font-size: 2.5rem;
  }
}
.mainIndex .section p {
  color: white;
  font-size: 1rem;
  font-weight: 400;
  text-indent: 1.5rem;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .mainIndex .section p {
    font-size: 2.5rem;
  }
}
.mainIndex .section2 {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.mainIndex .section2 .imgIndex {
  margin: 5px;
  width: 80%;
  height: 100%;
  border-radius: 2rem;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
}
@media screen and (min-width: 768px) {
  .mainIndex .section2 .imgIndex {
    width: 45%;
    height: 45%;
  }
}
.mainIndex .section2 .divAlfajor {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .mainIndex .section2 .divAlfajor {
    justify-content: flex-start;
  }
}
.mainIndex .section2 .alfajor {
  align-self: flex-start;
  justify-self: flex-start;
}
@media screen and (min-width: 768px) {
  .mainIndex .section2 .alfajor {
    animation-name: alfajor;
    animation-timing-function: linear;
    animation-duration: 0.5s;
  }
  @keyframes alfajor {
    0% {
      transform: translateY(-60%);
    }
    25% {
      transform: translateY(-45%);
    }
    50% {
      transform: translateY(-30%);
    }
    75% {
      transform: translateY(-15%);
    }
    100% {
      transform: translateY(0%);
    }
  }
}
.mainIndex .section2 .divHuerta {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .mainIndex .section2 .divHuerta {
    justify-content: flex-end;
  }
}
.mainIndex .section2 .huerta {
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .mainIndex .section2 .huerta {
    animation-name: huerta;
    animation-timing-function: linear;
    animation-duration: 0.5s;
  }
  @keyframes huerta {
    0% {
      transform: translateY(60%);
    }
    25% {
      transform: translateY(45%);
    }
    50% {
      transform: translateY(30%);
    }
    75% {
      transform: translateY(15%);
    }
    100% {
      transform: translateY(0%);
    }
  }
}

.nosMain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-content: center;
}
.nosMain div {
  width: 100%;
  justify-self: flex-start;
  align-self: flex-start;
}
.nosMain div h1 {
  color: #addbf4;
  font-size: 3rem;
  font-weight: 600;
  margin: 20px;
  margin-left: 5rem;
  padding: 5px;
}
@media screen and (min-width: 768px) {
  .nosMain div h1 {
    font-size: 5rem;
  }
}
.nosMain section {
  margin: 10px 15px;
  width: 80%;
}
.nosMain section h2 {
  padding: 5px;
  margin: 5px;
  color: #fdcf78;
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .nosMain section h2 {
    font-size: 2.5rem;
  }
}
.nosMain section p {
  text-indent: 1rem;
  margin: 5px;
  padding: 5px;
  font-size: 1rem;
  font-weight: 400;
  color: white;
}
@media screen and (min-width: 768px) {
  .nosMain section p {
    font-size: 2rem;
  }
}

.mainProyectos {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(50, 2.5rem);
}
.mainProyectos .proyectosH1div {
  width: 100%;
  justify-self: flex-start;
  align-self: flex-start;
  grid-column: 1/21;
  grid-row: 1/6;
}
.mainProyectos .proyectosH1div h1 {
  color: #addbf4;
  font-size: 3rem;
  font-weight: 600;
  margin: 20px;
  margin-left: 5rem;
  padding: 5px;
}
@media screen and (min-width: 768px) {
  .mainProyectos .proyectosH1div h1 {
    font-size: 5rem;
  }
}
.mainProyectos .proyectosSection {
  grid-column: 1/21;
  grid-row: 6/18;
  margin: 15px;
  padding: 5px;
}
.mainProyectos .proyectosSection h2 {
  font-size: 2.5rem;
  color: #fdcf78;
  margin: auto;
  padding: 1rem;
}
.mainProyectos p {
  text-indent: 1rem;
  margin: auto;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 400;
  color: white;
}
.mainProyectos .proyectosH3 {
  margin: auto;
  padding: 1rem;
  font-size: 2rem;
  color: #fee1aa;
}
.mainProyectos .dupla1 {
  display: flex;
  grid-column: 1/21;
  grid-row: 18/28;
  margin: 15px;
  padding: 5px;
  background: linear-gradient(90deg, #0e2b80 0%, #1c92d2 100%);
  border-radius: 7px;
}
.mainProyectos .dupla2 {
  grid-column: 1/9;
  grid-row: 29/50;
  margin: 15px;
  padding: 5px;
  background: linear-gradient(90deg, #0e2b80 0%, #1c92d2 100%);
  border-radius: 7px;
}
.mainProyectos .dupla3 {
  grid-column: 10/20;
  grid-row: 29/50;
  margin: 15px;
  padding: 5px;
  background: linear-gradient(90deg, #0e2b80 0%, #1c92d2 100%);
  border-radius: 7px;
}
.mainProyectos img {
  height: 150px;
  width: 150px;
  border-radius: 1.5rem;
  margin: 10px;
  padding: 10px;
}
.mainProyectos .proyectosLink {
  text-decoration: none;
  color: #000a22;
  font-size: 2rem;
  font-weight: 400;
}
.mainProyectos .proyectosLink:hover {
  color: #addbf4;
  text-decoration: underline;
}

.prodMain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.prodMain .prodH1div {
  width: 100%;
  justify-self: flex-start;
  align-self: flex-start;
}
.prodMain .prodH1div h1 {
  color: #addbf4;
  font-size: 3rem;
  font-weight: 600;
  margin: 20px;
  margin-left: 5rem;
  padding: 5px;
}
@media screen and (min-width: 768px) {
  .prodMain .prodH1div h1 {
    font-size: 5rem;
  }
}
.prodMain .cards {
  background: #96d1f1;
  width: 400px;
  border-radius: 1rem;
  box-shadow: 0 7px 8px 0 rgba(255, 255, 255, 0.4);
  margin: 2rem;
  padding: 0.5rem;
}
.prodMain .cards h3 {
  padding: 5px;
  margin: 5px;
  color: #040c24;
  font-size: 2rem;
  font-weight: 600;
}
.prodMain .cards p {
  color: #040c24;
  font-size: 1.5rem;
  font-weight: 400;
  text-indent: 1.5rem;
  padding: 1rem;
}
.prodMain .cards img {
  height: 250px;
  width: 250px;
  border-radius: 1.5rem;
  margin: 10px;
  padding: 10px;
  justify-self: center;
}

.contactoMain {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.contactoMain .contactoH1div {
  justify-self: flex-start;
  align-self: flex-start;
  width: 100%;
  margin-left: 7rem;
}
.contactoMain .contactoH1div h1 {
  color: #addbf4;
  font-size: 3rem;
  font-weight: 600;
  margin: 20px;
  margin-left: 5rem;
  padding: 5px;
}
@media screen and (min-width: 768px) {
  .contactoMain .contactoH1div h1 {
    font-size: 5rem;
  }
}
.contactoMain .contactoForm {
  border: solid 2px white;
  margin: 30px;
  padding: 20px;
  width: 45%;
  justify-self: center;
  background: linear-gradient(90deg, #0e2b80 0%, #1c92d2 100%);
  font-size: 2rem;
  color: #fee1aa;
}

/*# sourceMappingURL=style.css.map */
