.contactoMain{
    display: flex;
    flex-wrap: wrap;

    .contactoH1div{

        @media screen and (min-width: 1024px) {
            width: 100%;
            justify-self: flex-start;
            align-self: flex-start;
            margin-left: 7rem;
        }
        

        h1{
            @include h1;
        }
    }

    .contactoForm{
        border: solid 2px rgb(255, 255, 255);
        margin: 30px;
        padding: 20px;
        width: 90%;
        background: $bgcolor3;
        font-size: 1rem;
        color: lighten($color3, 10);

        @media screen and (min-width: 768px) {
            font-size: 1.5rem;
            width: 70%;
        }

        @media screen and (min-width: 1024px) {
            font-size: 2rem;
            width: 45%;
            margin: 15px;
        }

        div{
            padding: 0.5rem;

            @media screen and (min-width: 768px) {
                padding: 1rem;
            }
        }
    }

    .iframeDiv{
        width: 90%;
        margin: 30px;
        display: flex;
        justify-content: center;

        @media screen and (min-width: 768px) {
            width: 70%;
        }

        @media screen and (min-width: 1024px) {
            width: 45%;
            margin: 15px;
        }

        iframe {
            height: 300px;

            @media screen and (min-width: 768px) {
                height: 400px;
            }
        }
    }
}

