.mainIndex{
    display: flex;
    flex-flow: row wrap;

    .h1Div{
        width: 100%;
        justify-self: flex-start;
        align-self: flex-start;

        h1{
            @include h1
        }
    }

    .section{
        padding: 1rem;
        margin: 1rem;
        text-align: left;

        h2{
            padding: 5px;
            margin: 5px;
            color: rgb(253, 207, 120);
            font-size: 1.5rem;
            
            @media screen and (min-width: 768px) {
                font-size: 2.5rem;
            }
        }

        p{
            color: rgb(255, 255, 255);
            font-size: 1rem;
            font-weight: 400;
            text-indent: 1.5rem;
            padding: 1rem;

            @media screen and (min-width: 768px) {
                font-size: 2.5rem;
            }
        }
    }

    .section2{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        margin: 1rem;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;

        .imgIndex{
            margin: 5px;
            width: 80%;
            height: 100%;
            border-radius: 2rem;
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);

            @media screen and (min-width: 768px) {
                width: 45%;
                height: 45%;
            }
        }

        .divAlfajor{
            display: flex;
            justify-content: center;

            @media screen and (min-width: 768px) {
                justify-content: flex-start;
            }
        }

        .alfajor{
            align-self: flex-start;
            justify-self: flex-start;

            @media screen and (min-width: 768px) {
                    animation-name: alfajor;
                    animation-timing-function: linear;
                    animation-duration: 0.5s;
    
                @keyframes alfajor {
                    0%{
                        transform: translateY(-60%);
                    }
                    25%{
                        transform: translateY(-45%);
                    }
                    50%{
                        transform: translateY(-30%);
                    }
                    75%{
                        transform: translateY(-15%);
                    }
                    100%{
                        transform: translateY(0%)
                    }
                }
            }
        }

        .divHuerta{
            display: flex;
            justify-content: center;

            @media screen and (min-width: 768px) {
                justify-content: flex-end;
            }
        }

        .huerta{
            display: inline-block;

            @media screen and (min-width: 768px) {
                animation-name: huerta;
                animation-timing-function: linear;
                animation-duration: 0.5s;

                @keyframes huerta {
                    0%{
                        transform: translateY(60%);
                    }
                    25%{
                        transform: translateY(45%);
                    }
                    50%{
                        transform: translateY(30%);
                    }
                    75%{
                        transform: translateY(15%);
                    }
                    100%{
                        transform: translateY(0%)
                    }
                }
            }
        }

        

        
    }
}

