.mainIndex{
    width: 100%;

    @media screen and (min-width: 1024px) {
        display: flex;
    flex-flow: row wrap;
    }

    .h1Div{
        width: 100%;
        justify-self: flex-start;
        align-self: flex-start;

        h1{
            @include h1
        }
    }

    .section{
        width: 100%;
        text-align: left;

        @media screen and (min-width: 1024px) {
            width: 45%;
            padding: 1rem;
            margin: 1rem;
        }

        h2{
            @include h2
        }

        p{
            @include p
        }
    }

    .section2{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-around;
        margin-bottom: 1.5rem;

        @media screen and (min-width: 1024px) {
            width: 45%;
            padding: 1rem;
            margin: 1rem;
        }

        .imgIndex{
            margin: 5px;
            height: 70%;
            width: 70%;
            border-radius: 2rem;
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);

            @media screen and (min-width: 768px) {
                width: 50%;
                height: 50%;
            }

            @media screen and (min-width: 1024px) {
                width: 70%;
                height: 90%;
            }
        }

        .divAlfajor{
            display: flex;
            justify-content: center;
            width: 100%;
            height: 100%;

            @media screen and (min-width: 768px) {
                width: 85%;
                height: 45%;
                justify-content: flex-start;
            }

            @media screen and (min-width: 1024px) {
                width: 70%;
                height: 45%;
            }
        }

        .divHuerta{
            display: flex;
            justify-content: center;
            width: 100%;
            height: 100%;

            @media screen and (min-width: 768px) {
                width: 85%;
                height: 45%;
                justify-content: flex-end;
            }

            @media screen and (min-width: 1024px) {
                width: 70%;
                height: 45%;
            }
        }

    }
}