.nosMain{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    justify-content: center;

    div{
        width: 100%;
        justify-self: flex-start;
        align-self: flex-start;

        h1{
            @include h1;
        }
    }

    section{
        margin: 10px 15px;
        width: 80%;

        h2{
            @include h2
        }

        p{
            @include p
        }
    }
}
