.mainProyectos{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(74, 2.5rem);

    @media screen and (min-width: 768px){
        grid-template-columns: repeat(20, 1fr);
        grid-template-rows: repeat(67, 2.5rem);
    }

    @media screen and (min-width: 1024px){
        grid-template-columns: repeat(20, 1fr);
        grid-template-rows: repeat(46, 2.5rem);
    }
    

    .proyectosH1div{
        grid-column: 1/11;
        grid-row: 1/6;

        @media screen and (min-width: 768px){
            grid-column: 1/21;
            grid-row: 1/6;
        }

        @media screen and (min-width: 1024px){
            grid-column: 1/21;
            grid-row: 1/5;
        }

        h1{
            @include h1;
        }
    }

    .proyectosSection{
        grid-column: 1/10;
        grid-row: 6/25;
        margin: 2rem;
        padding: 2rem;

        @media screen and (min-width: 768px) {
            grid-column: 1/21;
            grid-row: 6/19;
        }

        @media screen and (min-width: 1024px) {
            grid-column: 1/21;
            grid-row: 5/15;
        }

        h2{
            @include h2
        }
    }

    p{
        @include p
    }

    .proyectosH3{
        margin: auto;
        padding: 1rem;
        font-size: 1.5rem;
        color: lighten($color3, 10);

        @media screen and (min-width: 768px) {
            font-size: 2rem;
        }
    }

    .dupla1{
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        grid-column: 1/10;
        grid-row: 21/38;
        margin: 15px;
        padding: 5px;
        background: $bgcolor3;
        border-radius: 7px;

        @media screen and (min-width: 768px) {
            grid-column: 1/21;
            grid-row: 19/35;
        }

        @media screen and (min-width: 1024px) {
            grid-column: 2/20;
            grid-row: 16/25;

            display: flex;
            flex-wrap: nowrap;
        }
    }

    .dupla2{
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        grid-column: 1/10;
        grid-row: 38/55;
        margin: 15px;
        padding: 5px;
        background: $bgcolor3;
        border-radius: 7px;

        @media screen and (min-width: 768px) {
            grid-column: 1/21;
            grid-row: 35/50;
        }

        @media screen and (min-width: 1024px) {
            grid-column: 2/9;
            grid-row: 26/46;
        }
    }

    .dupla3{
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        grid-column: 1/10;
        grid-row: 55/73;
        margin: 15px;
        padding: 5px;
        background: $bgcolor3;
        border-radius: 7px;

        @media screen and (min-width: 768px) {
            grid-column: 1/21;
            grid-row: 50/67;
        }

        @media screen and (min-width: 1024px) {
            grid-column: 10/20;
            grid-row: 26/46;
        }
    }

    img{
        height: 150px;
        width: 150px;
        border-radius: 1.5rem;
        margin: 10px;
        padding: 10px;
    }

    .proyectosLink{
        text-decoration: none;
        color: rgb(0, 10, 34);
        font-size: 1.5rem;
        font-weight: 400;

        @media screen and (min-width: 768px) {
            font-size: 2rem;
        }

        @media screen and (min-width: 1024px) {
            &:hover{
                color: lighten($color2, 35);
                text-decoration: underline;
            }
        }
    }
}
