.prodMain{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .prodH1div{
        width: 100%;
        justify-self: flex-start;
        align-self: flex-start;

        h1{
            @include h1;
        }
    }

    .cards{
        background: lighten($color2, 30);
        width: 300px;
        border-radius: 1rem;
        box-shadow: 0 7px 8px 0 rgba(255, 255, 255, 0.4);
        margin: 2rem;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;

        @media screen and (min-width: 768px) {
            width: 400px;
        }
    
        h3{
            padding: 5px;
            margin: 5px;
            color: $color;
            font-size: 1rem;
            font-weight: 600;

            @media screen and (min-width: 768px) {
                font-size: 2rem;
            }
        }
    
        p{
            color: $color;
            font-size: 0.8rem;
            font-weight: 400;
            text-indent: 0.5rem;
            padding: 1rem;

            @media screen and (min-width: 768px) {
                font-size: 1.5rem;
            }
        }
    
        img{
            height: 200px;
            width: 200px;
            border-radius: 1.5rem;
            margin: 10px;
            padding: 10px;
            justify-self: center;

            @media screen and (min-width: 768px) {
                height: 250px;
                width: 250px;
                border-radius: 1.5rem;
                margin: 10px;
                padding: 10px;
                justify-self: center;
            }
        }
    }
}








